.obsidian/workspaces.json
.obsidian/workspace
.obsidian/cache
.trash/
.DS_Store
.vault-stats
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/community-plugins.json
.obsidian/plugins/recent-files-obsidian/data.json